@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* Definición de animación de fondo fluido */
@keyframes fluidBackground {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Clase para el fondo fluido */
@layer utilities {
  .fluid-bg {
    background: linear-gradient(45deg, #ff77ff, #ff9b9b, #fbd786, #f07c68, #f08a9e);
    background-size: 400% 400%;
    animation: fluidBackground 5s ease infinite;
  }
}


/* En tu archivo CSS */
@layer utilities {
  .mask-bottom-shadow {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  }
}









